@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #e54d2e;
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-color-progress-success: var(--toastify-color-success);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #908e96;
}

a {
  color: inherit;
  text-decoration: none;
}
